<%- include('partials/header') %>

<h2>Login</h2>

<form method="POST" action="/login" class="mt-3">
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input name="username" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Password</label>
    <input name="password" type="password" class="form-control" required>
  </div>

  <button class="btn btn-dark">Login</button>
</form>

<%- include('partials/footer') %>
