<%- include('partials/header') %>

<h2>Add New Assignment</h2>

<form method="POST" action="/assignments" class="mt-3">

  <div class="mb-3">
    <label class="form-label">Title</label>
    <input name="title" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Course</label>
    <input name="course" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Due Date</label>
    <input name="dueDate" type="date" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Status</label>
    <select name="status" class="form-control">
      <option value="Pending">Pending</option>
      <option value="In Progress">In Progress</option>
      <option value="Completed">Completed</option>
    </select>
  </div>

  <button class="btn btn-success">Create</button>
</form>

<%- include('partials/footer') %>
